html
    head
        meta(content="text/html;charset=utf-8", http-equiv="Content-Type")
        title Stock Market Chart
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css")
        link(rel="stylesheet", href="/css/style.css" type="text/css")
    body
        div(class="stocks")
            h1 Stocks
            canvas(id="chartContainer" width="1000" height="500")
            div(id="stocks")

        script(src="https://unpkg.com/react@15/dist/react.js")
        script(src="https://unpkg.com/react-dom@15/dist/react-dom.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js")
        script(src="/js/chart.js")
        script(src="/js/stock.js")
