@import url('https://fonts.googleapis.com/css?family=Nixie+One')

*
    box-sizing: border-box

body
    margin-top: 100px
    padding: 0
    text-align: center
    background: #dcdcdc

.stocks
    margin: 0 auto
    width: 75%
    height: auto
    background: #fff
    h1
        font-family: 'Nixie One', cursive
